<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>Calories Calculator</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />



</head>
<body>
	<div class="container" role="main">


		<!--  Error message ----------------------------------------------------------- -->
		<div th:unless="${errorMessage} == null" th:utext="${errorMessage}"
			class="alert alert-danger" role="alert"></div>
		<!--  Error message ----------------------------------------------------------- -->

		<!--  Warning message ----------------------------------------------------------- -->
		<div th:unless="${warningMessage} == null"
			th:utext="${warningMessage}" class="alert alert-warning"
			role="warning"></div>
		<!--  Warning message ----------------------------------------------------------- -->

		<!--   message ----------------------------------------------------------- -->
		<div th:unless="${message} == null" th:utext="${message}"
			class="alert alert-success" role="warning"></div>
		<!--   message ----------------------------------------------------------- -->

		<nav th:replace="~{includes/navbar.html :: navigation}"></nav>
	</div>
	<div class="container" role="main">
		<div class="row">
			<div th:text="${#dates.format(#dates.createNow(),'dd-MM-YYYY')}"
				style="margin-top: 100px; margin-left: 100px; font-size: 80px">

			</div>
			<div class="col-md-8 col-md-offset-1" style="margin-top: 20px">

				<h1>Calculate how much you can still eat today!</h1>
				<div class="panel panel-default">
					<div class="panel-heading overview">What do you have eaten so
						far?</div>
					<!-- /.panel-heading -->

					<div class="panel-body">
						<form method="post" action="find" role="form"
							th:action="@{/activitiesAdd}" >
							<div class="form-group">
								<label>Food/Drink</label> 
								<select class="form-control">
									<option th:each="activities : ${foods}" 
										th:text="${activities} ? ${activities.item.bezeichnung}"
										th:value="${activities} ? ${activities.item}" ></option>
								</select>
							</div>
							<div class="form-group">
								<label>Sum (1 unit: 100g/100ml)</label> <select class="form-control">
									<option value="1">1</option>
									<option value="2">2</option>
									<option value="3">3</option>
									<option value="4">4</option>
									<option value="5">5</option>
								</select>
							</div>
						
						
						<button type="submit"
								class="btn btn-secondary btn-success btn-md pull-right"
								style="margin: 5px 0 15px 0">
								<i class="fa "></i> Add to list
							</button>
							</form>
					</div>
				</div>
			</div>
			</div>


		<div class="col-md-8 col-md-offset-1">

			<div class="panel panel-default">
				<div class="panel-heading">What kind of sports have you done?</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
					<form method="get" action="find" role="form"
						th:action="@{/activities}">
						<div class="form-group">
							<label>Activity</label> <select class="form-control">

									<option th:each="activities : ${sports}"
										th:text="${activities} ? ${activities.item.bezeichnung}"></option>
								</select>
						</div>
						<div class="form-group">
							<label>How often? (1 unit: 30 minutes)</label> <select class="form-control">
								<option value="1">1</option>
								<option>2</option>
								<option>3</option>
								<option>4</option>
								<option>5</option>
								<option>6</option>
							</select>
						</div>
						<button type="submit" class="btn btn-success btn-md pull-right"
							style="margin: 5px 0 15px 0">
							<i class="fa "></i> Add to list
						</button>
					</form>
				</div>
			</div>
		</div>






		<div class="col-md-8 col-md-offset-1">
			<div class="panel panel-default">
				<div class="panel-heading">Overview</div>
				<!-- /.panel-heading -->
				<div class="panel-body">
				<form role="form" th:action="@{/activities}" method="get">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>Activity/Food</th>
									<th>Time (minutes)/kCl</th>
									
								</tr>
							</thead>
							<!-- tbody>
								<tr th:each="activities : ${sports}">
									<td th:text="${activities} ? ${activities.item.bezeichnung}"></td>
									<td th:text="${activities} ? ${activities.dauer}"></td>
								</tr>
								<tr th:each="activities : ${foods}">
									<td th:text="${activities} ? ${activities.item.bezeichnung}"></td>
									<td th:text="${activities} ? ${activities.menge}"></td>
								</tr>
								<tr th:each="activities : ${drinks}">
									<td th:text="${activities} ? ${activities.item.bezeichnung}"></td>
									<td th:text="${activities} ? ${activities.menge}"></td>
								</tr>
							</tbody-->
						</table>
					</div>
					<!-- /.table-responsive -->
				
				<!-- /.panel-body -->
				<button type="submit" class="btn btn-success btn-md pull-right"
					style="margin: 5px 0 15px 0">
					<i class="fa "></i>Calculate
				</button>
				</form>
				</div>
			</div>
		</div>


		<div class="col-md-4 pull-right" style="margin-right: -100px;">
			<div id="line-chart"></div>
		</div>
	</div>


	<!--  End of container -->
	<div th:replace="~{includes/bootstrap :: bootstrapJS}" />
</body>
<script>
	new Morris.Bar({
		// ID of the element in which to draw the chart.
		element : 'line-chart',
		// Chart data records -- each entry in this array corresponds to a point on
		// the chart.
		data : [ {
			y : 'Today',
			a : 1800,
			b : 200
		}

		],
		xkey : 'y',
		ykeys : [ 'a', 'b' ],
		labels : [ 'Consumption', 'Left over' ]
	});
</script>

</html>

