<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>Calories Calculator</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />



</head>
<body>
	<div class="container" role="main">


		<!--  Error message ----------------------------------------------------------- -->
		<div th:unless="${errorMessage} == null" th:utext="${errorMessage}"
			class="alert alert-danger" role="alert"></div>
		<!--  Error message ----------------------------------------------------------- -->

		<!--  Warning message ----------------------------------------------------------- -->
		<div th:unless="${warningMessage} == null"
			th:utext="${warningMessage}" class="alert alert-warning"
			role="warning"></div>
		<!--  Warning message ----------------------------------------------------------- -->

		<!--   message ----------------------------------------------------------- -->
		<div th:unless="${message} == null" th:utext="${message}"
			class="alert alert-success" role="warning"></div>
		<!--   message ----------------------------------------------------------- -->

		<nav th:replace="~{includes/navbar.html :: navigation}"></nav>
	</div>
	<div class="container" role="main">
		<div class="row">
			<div th:text="${#dates.format(#dates.createNow(),'dd-MM-YYYY')}"
				style="margin-top: 100px; margin-left: 100px; font-size: 80px">

			</div>
			<div class="col-md-8 col-md-offset-1" style="margin-top: 20px">

				<h1>Calculate how much you can still eat today!</h1>
				<div class="panel panel-default">
					<div class="panel-heading overview">What do you have eaten so
						far?</div>
					<div class="panel-body">
						<form method="post" th:action="@{/add}">

							<div class="form-group">
								<select class="form-control" name="bezeichnung">
									<option th:each="activities : ${foods}"
										th:text="${activities} ? ${activities.item.bezeichnung}"
										th:value="${activities} ? ${activities.item.bezeichnung}">
									</option>
								</select>
							</div>
							<div class="form-group">
								<label>Sum (1 unit: 100g)</label> <input class="form-control"
									type="text" name="menge"
									th:value="${activities} ? ${activities.menge}" required
									autofocus>
							</div>
							<button type="submit"
								class="btn btn-secondary btn-success btn-md pull-right"
								style="margin: 5px 0 15px 0">
								<i class="fa "></i> Add to list
							</button>
						</form>
					</div>
				</div>
			</div>

			<div class="col-md-8 col-md-offset-1" style="margin-top: 20px">
				<div class="panel panel-default">
					<div class="panel-heading overview">What did you drink?</div>

					<div class="panel-body">
						<form method="post" th:action="@{/add}">

							<div class="form-group">
								<select class="form-control" name="bezeichnung">
									<option th:each="activities : ${drinks}"
										th:text="${activities} ? ${activities.item.bezeichnung}"
										th:value="${activities} ? ${activities.item.bezeichnung}">
									</option>
								</select>
							</div>
							<div class="form-group">
								<label>Sum (1 unit: 100ml)</label> <input class="form-control"
									type="text" name="menge"
									th:value="${activities} ? ${activities.menge}" required
									autofocus>
							</div>
							<button type="submit"
								class="btn btn-secondary btn-success btn-md pull-right"
								style="margin: 5px 0 15px 0">
								<i class="fa "></i> Add to list
							</button>
						</form>
					</div>
				</div>
			</div>


			<div class="col-md-8 col-md-offset-1">

				<div class="panel panel-default">
					<div class="panel-heading overview">What kind of sports did
						you do?</div>
					<div class="panel-body">
						<form method="post" th:action="@{/add}">

							<div class="form-group">
								<select class="form-control" name="bezeichnung">
									<option th:each="activities : ${sports}"
										th:text="${activities} ? ${activities.item.bezeichnung}"
										th:value="${activities} ? ${activities.item.bezeichnung}">
									</option>
								</select>
							</div>
							<div class="form-group">
								<label>Sum (1 unit: 30 min)</label> <input class="form-control"
									type="text" name="menge"
									th:value="${activities} ? ${activities.menge}" required
									autofocus>
							</div>
							<button type="submit"
								class="btn btn-secondary btn-success btn-md pull-right"
								style="margin: 5px 0 15px 0">
								<i class="fa "></i> Add to list
							</button>
						</form>
					</div>
				</div>
			</div>
			<div class="col-md-8 col-md-offset-1">
				<div class="panel panel-default">
					<div class="panel-heading">Overview</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<form role="form" th:action="@{/activities}" method="get">
							<div class="table-responsive">
								<table class="table">
									<thead>
										<tr>
											<th>Activity/Food</th>
											<th>kCl</th>

										</tr>
									</thead>
									<tbody>
										<tr th:each="activity : ${addedActivities}">
											<td th:text="${activity} ? ${activity.item.bezeichnung}"></td>
											<td th:text="${activity} ? ${activity.kalorienGesamt}"></td>
										</tr>
									</tbody>
								</table>
							</div>

							<button type="submit" class="btn btn-success btn-md pull-right"
								style="margin: 5px 0 15px 0">
								<i class="fa "></i>Calculate
							</button>
						</form>
					</div>
				</div>
			</div>
		</div>



		<!--  End of container -->
		<div th:replace="~{includes/bootstrap :: bootstrapJS}" />
</body>


</html>

