<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>Calories Calculator</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />


</head>
<body>
	<div class="container" role="main">


		<!--  Error message ----------------------------------------------------------- -->
		<div th:unless="${errorMessage} == null" th:utext="${errorMessage}"
			class="alert alert-danger" role="alert"></div>
		<!--  Error message ----------------------------------------------------------- -->

		<!--  Warning message ----------------------------------------------------------- -->
		<div th:unless="${warningMessage} == null"
			th:utext="${warningMessage}" class="alert alert-warning"
			role="warning"></div>
		<!--  Warning message ----------------------------------------------------------- -->

		<!--   message ----------------------------------------------------------- -->
		<div th:unless="${message} == null" th:utext="${message}"
			class="alert alert-success" role="warning"></div>
		<!--   message ----------------------------------------------------------- -->

		<nav th:replace="~{includes/navbar.html :: navigation}"></nav>
	</div>
	<div class="container" role="main">
		<div class="row">
			<div class="col-md-8 col-md-offset-1" style="margin-top: 40px">
				
				<h1>Guestbook</h1>
					
					
					<div class="panel-body message">
						<div class="panel panel-default">
						<div class="panel-heading">
							<i class="fa fa-clock-o fa-fw"></i> Create a new entry
						</div>
							<!-- /.panel-heading -->
							<div class="panel-body">
								<form role="form">
									<div class="form-group">
										<label>Title</label> <input class="form-control">

									</div>
									<div class="form-group ">
										<label>Message</label> <input class="form-control text"
											placeholder="Write a message...">
									</div>
								</form>
							</div>
						</div>
					</div>
			</div>
			</div>
			</div>


		<!--  End of container -->
		<div th:replace="~{includes/bootstrap :: bootstrapJS}" />
</body>

</html>

