<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>Calories Calculator</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />



</head>
<body>
	<div class="container" role="main">


		<!--  Error message ----------------------------------------------------------- -->
		<div th:unless="${errorMessage} == null" th:utext="${errorMessage}"
			class="alert alert-danger" role="alert"></div>
		<!--  Error message ----------------------------------------------------------- -->

		<!--  Warning message ----------------------------------------------------------- -->
		<div th:unless="${warningMessage} == null"
			th:utext="${warningMessage}" class="alert alert-warning"
			role="warning"></div>
		<!--  Warning message ----------------------------------------------------------- -->

		<!--   message ----------------------------------------------------------- -->
		<div th:unless="${message} == null" th:utext="${message}"
			class="alert alert-success" role="warning"></div>
		<!--   message ----------------------------------------------------------- -->

		<nav th:replace="~{includes/navbar.html :: navigation}"></nav>
	</div>
	<div class="container" role="main">
		<div class="row">
			<div class="col-md-6 col-md-offset-1" style="margin-top: 40px">
				
					<h1>Hello <span th:text="${currentUser} ? ${currentUser.vorname}"></span>!</h1>
					<div class="panel panel-default">
						<div class="panel-heading overview">What you have reached
							today:</div>
						<!-- /.panel-heading -->
						<div class="panel-body calories">
							<div class="table-responsive">
								<table class="table">
									<tbody>
										<tr>
											<th>Calories per day:
											<td th:text="${caloriesPerDay}">3000</td>
										</tr>
										<tr>
											<th>BMI:
											<td th:text="${bmi}">2kg</td>
										</tr>
										<tr>
											<th>Calories burnt today:
											<td th:text="${caloriesBurntToday}">3000</td>
										</tr>
									</tbody>
								</table>
							</div>
							<!-- /.table-responsive -->

						</div>
						<!-- /.panel-body -->
						<button class="btn btn-success btn-md pull-right"
							style="margin: 5px 0 15px 0">
							<i class="fa fa-download"></i> Download Report
						</button>
					</div>
					<!-- /.panel -->

				
			</div>


			<div class="col-md-6 col-md-offset-1">
				
					<div class="panel panel-default">
						<div class="panel-heading">Calories Consumption</div>
						<!-- /.panel-heading -->
						<div id="perDay" th:value="${caloriesPerDay}"></div>
						<div id="eatenDay" th:value="${caloriesEatenToday}"></div>
						<div class="panel-body">
							<div id="donut-chart">
							
							<!-- http://morrisjs.github.io/morris.js/donuts.html -->
							</div>
							
						</div> 
						<!-- /.panel-body -->
					</div>
			</div>
			
			
		</div>
		
		
		
		<div class="col-md-5 pull-right" style="margin-right: -100px; margin-top:-650px">
			
					</div>


		<!--  End of container -->
		<div th:replace="~{includes/bootstrap :: bootstrapJS}" />
</body>
<script>
var perDay = document.getElementById('perDay').value;
var eatenToday = document.getElementById('eatenDay').value;
var left = perDay - eatenToday;
new Morris.Donut({
	  // ID of the element in which to draw the chart.
	  element: 'donut-chart',
	  // Chart data records -- each entry in this array corresponds to a point on
	  // the chart.
	  data: [
	    {label: "Calories left", value: perDay},
	    {label: "Calories Eaten", value: eatenToday }
	  ]
	  
	  
	  
	 
	});</script>
</html>

