<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity4">
<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>Calories Calculator</title>
<div th:replace="~{includes/bootstrap :: theme}" />
</head>
<body style="background-color:#E6E6E6">
	
	<div class="container" role="main">
	
		<div class="row">
			<div class="col-md-4 col-md-offset-4">
			<div class="login-panel panel panel-default">
                   <div class="panel-heading">
				<form th:action="@{/registration}" th:object="${user}" method="post">
					<h2 style="text-align: center">Or Create a New Account</h2>

					<div class="form-group">
					<input type="text" id="name" name="nickname" class="form-control" placeholder="User" th:value="${user} ? ${user.nickname}" required autofocus > 
					</div>
					<div class="form-group">
					<input type="text" id="vorname" name="vorname" class="form-control" placeholder="Firstname" th:value="${user} ? ${user.vorname}" required autofocus >
					</div>
					<div class="form-group"> 
					<input type="text" id="nachname" name="nachname" class="form-control" placeholder="Lastname" th:value="${user} ? ${user.nachname}" required autofocus >
					</div>
					<div class="form-group"> 
					<input type="password" id="passwort" name="passwort" class="form-control" placeholder="Password"  th:value="${user} ? ${user.passwort}" required >
					</div>
					<button class="btn btn-lg btn-success btn-block" type="submit">
						Sign up
					</button>
				</form>
			</div>
		</div>
	</div>
	</div>
	</div>
	<!--  End of container -->
</body>
</html>
