<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">

<head>
<div th:replace="~{includes/bootstrap :: bootstrapMeta}" />
<title>Calories Calculator</title>
<div th:replace="~{includes/bootstrap :: bootstrapCSS}" />



</head>
<body>
	<div class="container" role="main">


		<!--  Error message ----------------------------------------------------------- -->
		<div th:unless="${errorMessage} == null" th:utext="${errorMessage}"
			class="alert alert-danger" role="alert"></div>
		<!--  Error message ----------------------------------------------------------- -->

		<!--  Warning message ----------------------------------------------------------- -->
		<div th:unless="${warningMessage} == null"
			th:utext="${warningMessage}" class="alert alert-warning"
			role="warning"></div>
		<!--  Warning message ----------------------------------------------------------- -->

		<!--   message ----------------------------------------------------------- -->
		<div th:unless="${message} == null" th:utext="${message}"
			class="alert alert-success" role="warning"></div>
		<!--   message ----------------------------------------------------------- -->

		<nav th:replace="~{includes/navbar.html :: navigation}"></nav>
	</div>
	<div class="container" role="main">
		<div class="row">
			<form th:action="@{/changeSettings}" method="post" role="form">

				<div class="col-md-6 col-md-offset-1" style="margin-top: 40px">

					<h1>Settings</h1>
					<div class="panel panel-default">
						<div class="panel-heading overview">Personal Information</div>

						<!-- /.panel-heading -->
						<div class="panel-body">
							<div th:if="${success}" th:text="${success}"
								class="alert alert-success" />
							<div th:if="${error}" th:text="${error}"
								class="alert alert-danger" />
							<div class="form-group">
								<label class="control-label">Birthday</label> <input
									class="form_datetime form-control" id="geburtstag"
									placeholder="Date" type="text" readonly name="geburtstag"
									th:value="${currentUser} ? ${#dates.format(currentUser.geburtstag, 'dd.MM.yyyy')}">
							</div>
							<div class="form-group">
								<label class="control-label">Weight</label> <input type="number"
									th:value="${currentUser} ? ${currentUser.gewicht}"
									name="gewicht" class="form-control">
							</div>
							<div class="form-group">
								<label class="control-label">Size (cm)</label> <input
									type="number"
									th:value="${currentUser} ? ${currentUser.groesse}"
									name="groesse" class="form-control">
							</div>
							<div class="form-group">
								<label>Gender</label>
								<div class="radio">
									<label> <input type="radio" name="optionsRadios"
										id="optionsRadios1" value="male" th:checked="${male==true}">
										Male
									</label>
								</div>
								<div class="radio">
									<label> <input type="radio" name="optionsRadios"
										id="optionsRadios2" value="female" th:checked="${male==false}">Female
									</label>
								</div>
							</div>
						</div>
					</div>
				</div>


				<div class="col-md-6 col-md-offset-1">
					<div class="panel panel-default">
						<div class="panel-heading">Goal</div>
						<div class="panel-body">
							<div class="form-group">
								<label>What is your desired weight to reach?</label>
								<div class="form-group">
									<label class="control-label">Desired weight</label> <input
										type="number"
										th:value="${currentUser} ? ${currentUser.zielgewicht}"
										name="zielgewicht" class="form-control">
								</div>
							</div>
						</div>
					</div>
					<button type="submit" name="save"
						class="btn btn-secondary btn-success btn-md pull-right"
						style="margin: 5px 0 5px 0">
						<i class="fa "></i> Save
					</button>

					<button type="button" data-toggle="modal"
						data-target="#deleteModal"
						class="btn btn-secondary btn-danger btn-md pull-right"
						style="margin: 5px 0 5px 0">
						<i class="fa "></i>Delete Account
					</button>
					<div class="modal" id="deleteModal" tabindex="-1" role="dialog">
						<div class="modal-dialog" role="document">
							<div class="modal-content">
								<div class="modal-header">
									<h5 class="modal-title">Deleting Account</h5>
									<button type="button" class="close" data-dismiss="modal"
										aria-label="Close">
										<span aria-hidden="true">&times;</span>
									</button>
								</div>
								<div class="modal-body">
									<p>Do you really want to delete your account?</p>
								</div>
								<div class="modal-footer">
									<a th:href="@{/deleteUser}" class="btn btn-md btn-danger">
										<span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
										Yes
									</a> <a data-dismiss="modal" class="btn btn-md btn-info"> <span
										class="glyphicon glyphicon-remove" aria-hidden="true"></span>
										No
									</a>
								</div>
							</div>
						</div>
					</div>
				</div>
			</form>
		</div>

		
		<!--  End of container -->
		<div th:replace="~{includes/bootstrap :: bootstrapJS}" />
</body>
<script>
	new Morris.Donut({
		// ID of the element in which to draw the chart.
		element : 'donut-chart',
		// Chart data records -- each entry in this array corresponds to a point on
		// the chart.
		data : [ {
			label : "Calories left",
			value : 12
		}, {
			label : "Calories Eaten",
			value : 30
		} ]

	});
</script>

<!-- JS for Datetime picker -->
<script type="text/javascript"
	src="http://www.malot.fr/bootstrap-datetimepicker/bootstrap-datetimepicker/js/bootstrap-datetimepicker.js"></script>

<script>
	$(function() {

		$(".form_datetime").datetimepicker({
			format : "dd.mm.yyyy",
			autoclose : true,
			todayBtn : true,
			pickerPosition : "bottom-left",
			minView : 2
		});

	});
</script>
</html>

