<div th:fragment="navigation">

		<div id="wrapper">

            <!-- Navigation -->
            <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
                <div class="navbar-header">
                    <a class="navbar-brand" th:href="@{/}">Calories Calculator</a>
                </div>

                <ul class="nav navbar-right navbar-top-links" style="margin-right:20px">
            
                    <li class="dropdown">
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-user fa-fw"></i> Actions <b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu dropdown-user">
                           
                            <li><a th:href="@{/settings}" sec:authorize="hasAnyRole('ADMIN', 'USER')"><i class="fa fa-gear fa-fw"></i> Settings</a>
                            </li>
                            <li class="divider"></li>
                            <li><a th:href="@{/login}"><i class="fa fa-sign-out fa-fw"></i> Logout</a>
                            </li>
                        </ul>
                    </li>
                </ul>
               </nav>
               <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation" style="width:200px; height:100%;margin-top:50px">
            <div class="sidebar-nav navbar-collapse" style="width:200px">

                <ul class="nav" id="side-menu">
                    
                    <li>
                        <a th:href="@{/}" class="active"><i class="fa fa-dashboard fa-fw"></i>Dashboard</a>
                    </li>
                    <li>
                        <a th:href="@{/activities}" sec:authorize="hasAnyRole('ADMIN', 'USER')" class="active"><i class="fa fa-dashboard fa-fw"></i>Activities</a>
                    </li>
                    <li>
                        <a th:href="@{/journal}" sec:authorize="hasAnyRole('ADMIN', 'USER')" class="active"><i class="fa fa-dashboard fa-fw"></i>Journal</a>
                    </li>
                    <li>
                        <a th:href="@{/guestbook}" class="active"><i class="fa fa-dashboard fa-fw"></i>Guestbook</a>
                    </li>
                    <li>
                        <a th:href="@{/items}" sec:authorize="hasAnyRole('ADMIN', 'USER')" class="active"><i class="fa fa-dashboard fa-fw"></i>Items</a>
                    </li>
                    <li>
                        <a th:href="@{/adminSettings}" sec:authorize="hasRole('ADMIN')" class="active"><i class="fa fa-dashboard fa-fw"></i>Admin Settings</a>
                    </li>
                </ul>

            
        </div>
                </nav>
                </div>
                
                </div>